.container{
    display: flex;
    padding: 2rem;
}
.contLeft{
    display: flex;
}

.imgHenry{
    margin-left: 1.5rem;
    width: 3rem;
    height: 3rem;
}
.parrafo{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: beige;
}