*{
  margin: 0;
  padding: 0;
}
body {
  background: url(./imgs/-\ Lightning\ Animated\ GIF\ -.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  width: 100%;
  background: transparent;
  color: var(--texto);
  padding-left: 3rem;
  padding-top: 2rem;
  margin: 0%;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --texto: #fffbf4;
}